body {
  font-family: "Nunito", sans-serif;
}

.sidebar-menu {
  color: white;
}

/* Custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Thin scrollbar */
  border-radius: 10px; /* Rounded edges */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light grey track */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(50, 85, 240, 0.5); /* Soft blue */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(50, 85, 240, 0.8); /* Darker on hover */
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none; /* Optional: Remove default appearance */
}

input[type="time"]::-webkit-calendar-picker-indicator {
  background: none;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none; /* Optional: Remove default appearance */
}

.react-calendar__tile--highlight {
  background: #80aaee !important; /* Tailwind's bg-blue-500 */
  color: white !important;
  font-weight: bold !important;
}

.react-calendar__tile--active {
  background-color: #008cc8 !important; /* Tailwind's bg-blue-700 */
}

input[type="checkbox"] {
  transform: scale(0.8);
}
input[type="checkbox"]:checked {
  background-color: #008cc8; /* Tailwind's bg-blue-700 */
}

.css-1p3m7a8-multiValue {
  background-color: #f5f6f7 !important;
  padding: 0.4em;
  font-size: 14px;
  border: 1px solid #e6e6e6;
  border-radius: 8px !important;
}

.css-1dyz3mf {
  padding: 0.6em 0.7em !important;
}

.css-13cymwt-control {
  border-radius: 12px !important;
  border-color: #e6e6e6 !important;
}

/* In your CSS file */
.text-gradient {
  color: #e73f3f;
}

.bg-gradient-soft {
  background: linear-gradient(
    270deg,
    rgba(231, 63, 63, 0.15) 0%,
    rgba(0, 173, 58, 0.15) 50%,
    rgba(0, 140, 200, 0.15) 100%
  );
}

select,
option {
  background-color: white !important;
  color: black;
}

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    select,
    option {
      background-color: white !important;
      color: black !important;
    }
  }
}
